<div *ngIf="record" [ngSwitch]="true" class="manage-element">
  <mat-form-field class="dm-form-field" *ngSwitchCase="record.dataTypeCode === 'DICTIONARY'">
    <!--    <mat-select placeholder="{{record.name}}" [(value)]="record.value" [disabled]="!canEdit()" (valueChange)="fieldValueChange($event)">-->
    <!--      <mat-option *ngFor="let type of loadDict(record.dictSourceId) | async" [value]="type.id"-->
    <!--                  title="{{type.name}}">-->
    <!--        {{type.name}}-->
    <!--      </mat-option>-->
    <!--    </mat-select>-->
  </mat-form-field>
  <mat-form-field class="manage-element dm-form-field" *ngSwitchCase="record.dataTypeCode === 'NUMBER'">
    <input matInput type="number" class="manage-element" placeholder="{{record.description}}"
           [(ngModel)]="record.value"/>
  </mat-form-field>
  <mat-form-field class="manage-element dm-form-field" *ngSwitchDefault>
    <input matInput class="manage-element" type="text" placeholder="{{record.description}}" [(ngModel)]="record.value"/>
  </mat-form-field>
  <div class="file-component" *ngSwitchCase="record.dataTypeCode === 'FILE'">
    <input type="file" id="file" (change)="handleFileInput($event.target.files)">
  </div>
  <div *ngSwitchCase="record.dataTypeCode === 'BOOLEAN'">
    <mat-checkbox class="manage-element" color="primary" [value]="record.value" [checked]="record.value">
      {{record.description}}
    </mat-checkbox>
  </div>
</div>
