<mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header="id">ID</mat-header-cell>
    <mat-cell *matCellDef="let project">{{project.id}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Наименование</mat-header-cell>
    <mat-cell *matCellDef="let project">{{project.name}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="edit">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let project">
      <button mat-button (click)="edit(project)">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="delete">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let project">
      <button mat-button (click)="delete(project)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns:displayedColumns" (click)="onRowClicked(row)" (dblclick)="onRowDblClicked(row)"
           class="{{(currentproject && row.id == currentproject.id)? 'selected' : ''}}"></mat-row>
</mat-table>
<mat-paginator [length]="count" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
<div style="text-align: center">
  <button mat-raised-button color="primary" class="button" (click)="addProject()">Добавить</button>
</div>
