<div color="primary" class="step-header">
  <b>{{data != null ? data.currentStep.name : 'Не выбран шаг исследования'}}</b></div>
<div *ngIf="data">
  <mat-form-field class="manage-element dm-form-field">
    <mat-select placeholder="Входной сервис" [(ngModel)]="input" (ngModelChange)="inputChange(input)">
      <mat-option *ngFor="let pipe of filterPipeSteps()" [value]="pipe">
        {{pipe.name + " (" + pipe.id + ")"}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngFor="let elem of this.data.currentStep.metaInfo">
    <app-meta-info-input [record]="elem"></app-meta-info-input>
  </div>
  <div style="text-align: center;">
    <button mat-raised-button color="primary" class="button" style="margin-bottom: 5px" (click)="startPipeline()">
      Запустить
    </button>
    <button mat-raised-button color="primary" class="button" style="margin-bottom: 5px" (click)="getPipelineResult()">
      Просмотреть результат
    </button>
    <button mat-raised-button color="primary" class="button" (click)="deleteStep()">Удалить</button>
  </div>
</div>
