<div cdkDropListGroup class="main-container">
  <div class="services-container">
    <h2>Сервисы анализа
      <button mat-button (click)="savePipeline()">
        <mat-icon>save</mat-icon>
      </button>
    </h2>

    <div
      cdkDropList
      class="example-list"
      [cdkDropListData]="services">
      <!--(cdkDropListDropped)="drop($event)">-->
      <div class="example-box" *ngFor="let item of services" cdkDrag>{{item.name}}</div>
    </div>
  </div>

  <div class="pipeline-container">

    <div
      cdkDropList
      class="example-list"
      [cdkDropListData]="pipline"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of pipline" cdkDrag>
        <button mat-button (click)="startPipeline(item)">
          <mat-icon>playlist_play</mat-icon>
        </button>
        <span>{{item.name}}</span>
        <button mat-button (click)="deleteStep(item)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
