.main-container
  height: 100%
  display: flex

.services-container
  border-right: 5px solid #c2185b
  width: 20%
  height: 100%
  display: inline-block
  vertical-align: top

.pipeline-container
  width: 80%
  height: 100%
  display: inline-block
  vertical-align: top

.example-list
  border: solid 1px #ccc
  min-height: 60px
  background: white
  border-radius: 4px
  overflow: hidden
  display: block

.example-box
  padding: 20px 10px
  border-bottom: solid 1px #ccc
  color: rgba(0, 0, 0, 0.87)
  display: flex
  flex-direction: row
  align-items: center
  //justify-content: space-between
  box-sizing: border-box
  cursor: move
  background: white
  font-size: 14px


.cdk-drag-preview
  box-sizing: border-box
  border-radius: 4px


.cdk-drag-placeholder
  opacity: 0


.cdk-drag-animating
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1)


.example-box:last-child
  border: none


.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder)
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1)
