<mat-grid-list cols="2" rowHeight="75px" class="valuation-grid-container">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-form-field>
      <input matInput type="text"
             placeholder="Имя"
             [(ngModel)]="record.name"/>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-form-field>
      <input matInput type="text"
             placeholder="Хост"
             [(ngModel)]="record.host"/>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-form-field>
      <input matInput type="text"
             placeholder="Порт"
             [(ngModel)]="record.port"/>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-form-field>
      <input matInput type="text"
             placeholder="Путь"
             [(ngModel)]="record.path"/>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-form-field>
      <mat-select placeholder="Входной тип" [(value)]="record.inDataTypeCode">
        <mat-option *ngFor="let type of  dataTypes" [value]="type.code"
                    title="{{type.name}}">
          {{type.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-form-field>
      <mat-select placeholder="Исходящий тип" [(value)]="record.outDataTypeCode">
        <mat-option *ngFor="let type of  dataTypes" [value]="type.code"
                    title="{{type.name}}">
          {{type.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-form-field>
      <mat-select placeholder="Группа сервиса" [(value)]="record.groupCode">
        <mat-option *ngFor="let type of  groupTypes" [value]="type.code" title="{{type.name}}">
          {{type.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>
<mat-list *ngFor="let metaElement of pipelineMetaInfo">
  <mat-list-item>
    <input matInput type="text"
           style="margin-right: 20px"
           placeholder="Название поля"
           [(ngModel)]="metaElement.name"/>
    <mat-select placeholder="Тип данных" [(value)]="metaElement.dataTypeCode">
      <mat-option *ngFor="let type of  dataTypes" [value]="type.code">
        {{type.name}}
      </mat-option>
    </mat-select>
    <input matInput type="text"
           style="margin-right: 20px"
           placeholder="Описание"
           [(ngModel)]="metaElement.description"/>
    <input matInput type="text"
           style="margin-right: 20px"
           placeholder="Значение по умолчанию"
           [(ngModel)]="metaElement.value"/>
    <button mat-button (click)="delete(metaElement)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
<div style="text-align: center">
  <button mat-raised-button color="primary" style="margin-right: 20px" (click)="addMetaElement()">Добавить
    метаинформацию
  </button>
  <button mat-raised-button color="primary" (click)="save()">Сохранить</button>
</div>
