.network
  width: 500px
  height: 500px
  margin-top: 100px
  margin-left: 100px

.main-container
  height: 100%
  display: flex

.services-container
  height: 100%
  display: inline-block
  vertical-align: top
  background-color: rgba(103, 58, 183, 0.13)

.services-container-left
  @extend .services-container
  width: 15%
  border-right: 5px solid #673ab7

.services-container-right
  @extend .services-container
  width: 25%
  border-left: 5px solid #673ab7

.workspace-toolbar
  background-color: rgba(103, 58, 183, 0.13)
  height: 48px
  border-bottom: 5px solid #673ab7

.workspace-button
  width: 35px
  min-width: 35px
  padding: 0
  line-height: 30px

.pipeline-container
  width: 60%
  height: 80%
  display: inline-block
  background-color: #fafafa
  vertical-align: top

.example-list
  border: solid 1px #ccc
  min-height: 60px
  background: white
  border-radius: 4px
  overflow: hidden
  display: block

.example-box
  padding: 20px 10px
  border-bottom: solid 1px #ccc
  color: rgba(0, 0, 0, 0.87)
  display: flex
  flex-direction: row
  align-items: center
  //justify-content: space-between
  box-sizing: border-box
  cursor: move
  background: white
  font-size: 14px


.cdk-drag-preview
  box-sizing: border-box
  border-radius: 4px


.cdk-drag-placeholder
  opacity: 0


.cdk-drag-animating
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1)


.example-box:last-child
  border: none


.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder)
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1)
.node
  border: 1px solid black
  background-color: red

.graph
  -webkit-user-select: none
    -moz-user-select: none
      -ms-user-select: none
        user-select: none
  .graph .edge
    stroke: #666
    fill: none
    .graph .edge .edge-label
      stroke: none
      font-size: 12px
      fill: #666
  .graph .panning-rect
    fill: transparent
    cursor: move
  .graph .node-group .node:focus
    outline: none
  -webkit-user-select: none
    -moz-user-select: none
      -ms-user-select: none
        user-select: none
  .graph .edge
    stroke: #666
    fill: none
    .graph .edge .edge-label
      stroke: none
      font-size: 12px
      fill: #666
  .graph .panning-rect
    fill: transparent
    cursor: move
  .graph .node-group .node:focus
    outline: none

.edge
  path
    stroke: #666 !important

.node_text
  fill: #cccccc

.manage_elements
  height: 50px
  margin-bottom: 10px

