<div cdkDropListGroup class="main-container">
  <div class="services-container-left">
    <div>
      <mat-label>Группы сервисов</mat-label>
      <mat-select class="manage_elements" [(ngModel)]="selectedGroup">
        <mat-option *ngFor="let group of groupService" [value]="group">
          {{group.name}}
        </mat-option>
      </mat-select>
      <mat-label>Сервисы анализа</mat-label>
      <mat-select class="manage_elements" [(ngModel)]="selectedService">
        <mat-option *ngFor="let service of filterServices()" [value]="service">
          {{service.name}}
        </mat-option>
      </mat-select>
      <mat-label>Входной сервис</mat-label>
      <mat-select class="manage_elements" [(ngModel)]="input">
        <mat-option *ngFor="let pipe of filterPipeSteps()" [value]="pipe">
          {{pipe.name + " (" + (pipe && pipe.id ? pipe.id : "not saved") + ")"}}
        </mat-option>
      </mat-select>
      <button mat-raised-button color="primary" class="button" style="margin-right: 5px" (click)="addNode()">Добавить
      </button>
      <button mat-raised-button color="primary" class="button" (click)="savePipeline()">Сохранить</button>
    </div>
  </div>

  <div class="pipeline-container">
    <mat-toolbar class="workspace-toolbar">
      <button mat-raised-button class="workspace-button" style="margin-right: 3px" (click)="update$.next(true)">
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-raised-button class="workspace-button" style="margin-right: 3px" (click)="center$.next(true)">
        <img style = "width:24px; height:24px" src="../../../assets/arrows_in.svg">
      </button>
      <button mat-raised-button class="workspace-button" (click)="zoomToFit$.next(true)">
        <mat-icon>zoom_out_map</mat-icon>
      </button>
    </mat-toolbar>

    <ngx-graph
      class="chart-container"
      [view]="view"
      [legend]="showLegend"
      [links]="hierarchicalGraph.links"
      (legendLabelClick)="onLegendLabelClick($event)"
      [nodes]="hierarchicalGraph.nodes"
      [scheme]="colorScheme"
      [orientation]="orientation"
      [curve]="curve"
      [update$]="update$"
      [center$]="center$"
      [zoomToFit$]="zoomToFit$"
      (select)="select($event)">

      <ng-template #defsTemplate>
        <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
          <svg:path d="M0,-5L10,0L0,5" class="arrow-head"/>
        </svg:marker>
      </ng-template>

      <ng-template #nodeTemplate let-node>
        <svg:g class="node" ngx-tooltip [tooltipPlacement]="'top'" [tooltipType]="'tooltip'"
               [tooltipTitle]="node.label">
          <svg:rect
            [attr.width]="node.dimension.width"
            [attr.height]="node.dimension.height"
            [attr.fill]="'#673ab7'"
          />
          <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2"
                    [attr.fill]="'white'">
            {{node.label}}
          </svg:text>
        </svg:g>
      </ng-template>
      <ng-template #linkTemplate let-link>
        <svg:g class="edge">
          <svg:path
            class="line"
            stroke-width="2"
            marker-end="url(#arrow)">
          </svg:path>
        </svg:g>
      </ng-template>
    </ngx-graph>
  </div>

  <div class="services-container-right">
    <app-pipe-manage-window [data]="selectedData" [input]="selectedStepInput" (delete)="deleteCurrentStep()"></app-pipe-manage-window>
  </div>
</div>
