<div *ngIf="result" [ngSwitch]="true">
  <div *ngSwitchCase="type === 'IMAGE'">
    <img [src]="imagePath">
  </div>
  <div *ngSwitchCase="type === 'TWO_DIM_ARRAY'">
    <div *ngIf="respCnt>=200">Первые 100 элементов</div>
    <tr *ngFor="let item of result">
      <td *ngFor="let sub of item" class="td-result">{{ sub }}</td>
    </tr>
  </div>
  <div *ngSwitchDefault>
    {{result}}
  </div>
</div>
