<mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header="id">ID</mat-header-cell>
    <mat-cell *matCellDef="let task">{{task.id}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Наименование</mat-header-cell>
    <mat-cell *matCellDef="let task">{{task.name}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="groupCode">
    <mat-header-cell *matHeaderCellDef>Группа сервисов</mat-header-cell>
    <mat-cell *matCellDef="let task">{{findItemInGroupDictById(task.groupCode)}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="host">
    <mat-header-cell *matHeaderCellDef>Хост</mat-header-cell>
    <mat-cell *matCellDef="let task">{{task.host}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="port">
    <mat-header-cell *matHeaderCellDef>Порт</mat-header-cell>
    <mat-cell *matCellDef="let task">{{task.port}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="path">
    <mat-header-cell *matHeaderCellDef>Путь</mat-header-cell>
    <mat-cell *matCellDef="let task">{{task.path}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="inDataTypeId">
    <mat-header-cell *matHeaderCellDef>Тип данных (входной)</mat-header-cell>
    <mat-cell *matCellDef="let task">{{findItemInDictById(task.inDataTypeCode)}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="outDataTypeId">
    <mat-header-cell *matHeaderCellDef>Тип данных (исходящий)</mat-header-cell>
    <mat-cell *matCellDef="let task">{{findItemInDictById(task.outDataTypeCode)}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="delete">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let task">
      <button mat-button (click)="delete(task)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns:displayedColumns" (click)="onRowClicked(row)" (dblclick)="onRowDblClicked(row)"
           class="{{(currentTask && row.id == currentTask.id)? 'selected' : ''}}"></mat-row>
</mat-table>
<mat-paginator [length]="count" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
<div style="text-align: center">
  <button mat-raised-button color="primary" class="button" (click)="addService()">Добавить</button>
</div>
