<mat-grid-list cols="2" rowHeight="75px" class="valuation-grid-container">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-form-field>
      <input matInput type="text"
             placeholder="Имя"
             [(ngModel)]="record.name"/>
    </mat-form-field>
  </mat-grid-tile>
<div style="text-align: center">
  <button mat-button (click)="save()">Сохранить</button>
</div>
